label for="name"  Department Name:
input#name type="text" name="department[name]" value="#{@department.name}"
br
label for="department_id"  Department_Id:
input#department_id type="number" name="department[department_id]" value="#{@department.department_id}"
br
label for="manager"  Department_Manager:
input#manager type="text" name="department[manager]" value="#{@department.manager}"
br
input type="submit" value="Save Department"

