label for="name"  Name:
input#name type="text" name="employee[name]" value="#{@employee.name}"
br
label for="employee_id"  Employee_Id:
input#employee_id type="number" name="employee[employee_id]" value="#{@employee.employee_id}"
br
label for="department_id"  Department_Id:
input#department_id type="number" name="employee[department_id]" value="#{@employee.department_id}"
br
input type="submit" value="Save Employee"

